<%- include ('partials/header.ejs') %>
<%- include ('partials/main_nav.ejs') %>

<main class="ontainer">
        <section>
            <dl class="dl-horizontal">
                <dt>
                    <div class="flex-shrink-0">
                        <img src="/img/me.PNG"
                          alt="This is me" class="img-fluid" 
                          style="width: 180px; border-radius: 10px;" />
                      </div>
                </dt>
                <dd>
                        <div>
                          <p class="lead">Good day. My name is Nguyen Ngoc Quynh Nhu. You can call me Katie as my English name.</p>                   
                          <p class="lead">
                              I am a .Net developer with a strong technical background who possesses self-discipline and the ability to work with the minimum of supervision.
                              I am bale to quick to grasp new ideas and concepts, and to develop innovative and creative
                              solutions to prob. I am a quick learner who can absorb new ideas and can communicate clearly and effectively.
                          </p>
                          <p class="lead">Welcome to my page!</p>
 
                          <p class="lead">Click &nbsp;
                                  <a href="/Assets/NguyenNgocQuynhNhu_Resume_202308.pdf" download="NguyenNgocQuynhNhu_Resume">here</a>
                            &nbsp; to download my resume </p>
                          </div>          
                </dd>
              </dl>
          </section>
</main>

      <%- include ('partials/bottom_nav.ejs') %>
      <%- include ('partials/footer.ejs') %>