<%- include ('partials/header.ejs') %>
<%- include ('partials/main_nav.ejs') %>

<main class="ontainer">
    <div class="jumbotron">
        <section class="">
            <div class="container-fluid px-0">
            <div class="row g-0">
        
                <!-- First column -->
                <div class="col-lg-6 vh-100">
                    <h1>Hi,</h1>
                    <h1>I am Nhu Nguyen</h1>
                </div>
                <!-- First column -->
        
                <!-- Second column -->
                <div class="col-lg-6 vh-100">
                    <figure class="text-center">
                        <blockquote class="blockquote">
                          <p>Keep learning and moving forward</p>
                        </blockquote>
                      </figure>
                </div>
                <!-- Second column -->
        
            </div>
            </div>
        
        </section>
    </div>
</main>

      <%- include ('partials/bottom_nav.ejs') %>
      <%- include ('partials/footer.ejs') %>