<%- include ('partials/header.ejs') %>
<%- include ('partials/main_nav.ejs') %>

<main class="ontainer">
    <div style="background-color: rgb(236, 239, 241);">
        <h3>XiL AppS</h3>
        <ul>
            <li>Description: Provisioning of central system for infrastructure and test execution. Setup central system for test systems like Lab car, CATS, dSpace,…collecting information about infrastructure like software and hardware setup and provisioning of test execution.</li>
            <li>Project type: web application, web API </li>
            <li>Team size: about 30 team members from Germany, Romania, India and Vietnam</li>
            <li>Technologies: .NET core, Angular, Asp. Net, Web API, IDE core Framework, Python, Power Shell, Bash script, MS SQL server
            </li>
        </ul>
    </div>
    <div>
        <h3>Routing Table Factory</h3>
        <ul>
            <li>Description: Develop a tool for converting Routing Table (RT) to Hexadecimal Coded Binary Data (*.s19, *.s28, *.s37) & DBC File.
            </li>
            <li>Project type: Window application</li>
            <li>Team size: 5
            </li>
            <li>Technologies: WPF, MVVM, SQLite, Entity Framework, JSON, NLog, LINQ, Visual Studio Unit Testing Framework.
            </li>
        </ul>
    </div>
    <div style="background-color: rgb(236, 239, 241);">
        <h3>Duty Free Shopping</h3>
        <ul>
            <li>Description: Maintain the POS and Back store system in retail industry.</li>
            <li>Project type: Window application, Web application</li>
            <li>Team size: 10 </li>
            <li>Technologies: C#, VB.net, SQL server, Angular JS, Typescript, Plugin.</li>
            <li>Device: Fingerprint reader, Passport reader, EFT payment</li>
        </ul>
    </div>
</main>

      <%- include ('partials/bottom_nav.ejs') %>
      <%- include ('partials/footer.ejs') %>