<%- include ('partials/header.ejs') %>
<%- include ('partials/main_nav.ejs') %>

<main class="ontainer">
    <div>
       <h1 class="col text-center"> Services </h1> 
    </div>
    <div>
        <div class="row">
            <div class="col-xs-6 col-sm-4 col text-center">
                <img src="/img/AI.png"  alt="AI" class="img-rounded" style="width: 150px; height: 150px;"/>
                <p class="lead">Artificial Intelligent</p>
            </div>
            <div class="col-xs-6 col-sm-4 col text-center">
                <img src="/img/web_development.png"  alt="web development" class="img-rounded" style="width: 150px; height: 150px;"/>
                <p class="lead">Web Development</p>
            </div>
            <!-- Optional: clear the XS cols if their content doesn't match in height -->
            <div class="clearfix visible-xs-block"></div>
            <div class="col-xs-6 col-sm-4 col text-center">
                <img src="/img/Database.png"  alt="database" class="img-rounded" style="width: 150px; height: 150px;"/>
                <p class="lead">Database</p>
            </div>
          </div>
    </div>
</main>

      <%- include ('partials/bottom_nav.ejs') %>
      <%- include ('partials/footer.ejs') %>